KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/pgdirectory.o \
$(ARCHDIR)/pgtable.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdts.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/exceptionhandler.o \
$(ARCHDIR)/exceptionhandlers.o \
